<section>
    {{#each data}}
    <section>
        <article>
            <div>
                <h1>{{post_title}}</h1>
                <p>{{format_time createdAt}}</p>
            </div>
            <p>{{post_message}}</p>
        </article>
        <section>
        {{#each comments}}
            <div>
                <h3>{{user.name}}</h3>
                <p>{{comment}}</p>
                <p>{{time}}</p>
            </div>
        {{/each}}
        </section>
        {{#if ../loggedIn}}
        <input>
        <button data-postId="{{id}}" class="addCommentButton">Add comment</button>
        {{/if}}
    </section>
    {{/each}}
</section>